html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 10px;
}

.categories {
    background: white;
    min-width: 100px;
}

.text {
    max-width: 100%;
    background: white;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: flex;
    align-items: center;
}

.text p {
    font-size: clamp(12px, 3vw, 18px);
    line-height: 130%;
    color: #000000;
    text-align: left;
    margin: 5%;
}

.click {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.05);
}

.footer {
    width: 100%;
    height: 60px;
    background: #5d5c61;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

ul {
    font-size: clamp(12px, 3vw, 18px);
    list-style: none;
    margin: 0 20px;
    padding: 0;
}

ul a {
    text-decoration: none;
    color:#000000;
}

ul a:visited {
    color:#000000;
}

li {
    padding: 40px 25px;
    height: 40px;
    text-align: left;
    cursor: pointer;

    display: flex; 
    align-items: center; 
    
    transition: background 0.2s ease, color 0.2s ease, scale 0.2s ease;
}

li:hover {
    background: #ebebeb;
    color: #7395ae;
    transform: scale(1.05);
}

li.active {
    background: #f8f8f8;
    color: #7395ae;
    transform: scale(1.05);
}

.heading {
    display: flex; 
    align-items: center; 
    color: #7395ae;
    margin: 20px;
    margin-left: 9%;

    font-size: clamp(20px, 5vw, 30px);
}


.image {
    object-fit: cover;
    transition: opacity 0.2s ease, transform 3s ease; /* Добавим плавный переход для изображения */
}

.image:hover {
    transform: scale(1.02);
}

.photo-container {
    background: url(../img/lada.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease, opacity 0.5s ease; /* Плавный переход для текста и кнопки */

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #fff; 


    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.content h2 {
    margin-bottom: 10px;
}

.button {
    color: #7395ae;
    font-size: 25px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding:30px;
    transition: opacity 0.5s ease, transform 0.1 ease;
}

.button:hover {
    transform: translateY(1px);
}

.button-text {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    background-color: #006bb9;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    max-width: 180px;
  }
  
  .button-text:hover {
    background-color: #1d8ee0;
    transform: scale(1.05);
  }
  

.button-container {
    margin-left: auto;
    margin-right: 1%;
    display: flex; 
    /* justify-content: flex-end; */
    /* align-items: center;  */
}


.divider {
    border: 2px solid #557a95; /* Толщина и цвет линии */
    margin: 10px 1%; /* Отступы между линией и соседними блоками */
}



.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #938e94; /* Цвет фона вашего header */
    color: #fff; /* Цвет текста в header */
}

.header_fixed {
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo {
    max-width: 20%;
}

.logo img {
    /* max-width: 100%; */
    height: 30px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.navigation a {
    padding: 30px;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
}

.navigation a:hover {
    color: #375062;
    transform: translateY(2px);
}


.contact-info p {
    font-size: clamp(10px, 2vw, 12px);
}

.info {
    display: flex;
    align-items: center;
    gap: 75px;
}

h3 {
    margin:5%;
    margin-bottom: 0;
}

.fixed {
    position: fixed;
    left: 0;
    top: 8%;
}


.item {
    background-color: #938e94;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    height: 300px;
    text-align: left;
    margin: 1%;
    margin-bottom: 2%;
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.2s ease;
}

.item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: 75%;
    margin-bottom: 8px;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
    padding-left: 16px;
}

.card-price {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 16px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% 5%;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sort a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    padding: 10px;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

.sort a:hover {
    transform: scale(1.05);
    color: #7395ae;
}

.sort a.active {
    color: #7395ae;
    transform: scale(1.05);
}